<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.crossafter.goods.dao.EvalDetailMapper">
    <insert id="addEvaluation" parameterType="com.example.crossafter.goods.bean.EvalDetail">
        insert into evaldetail (uid,gid,oid,content,evaluation,uname) values (#{uid},#{gid},#{oid},#{content},#{evaluation},#{uname});
    </insert>
    <select id="getAllEvalDetail" parameterType="int" resultType="com.example.crossafter.goods.bean.EvalDetail">
        SELECT * FROM evaldetail WHERE gid=#{gid};
    </select>
</mapper>