<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.crossafter.goods.dao.GoodMapper">
    <select id="getAllGoods" resultType="com.example.crossafter.goods.bean.Good">
        SELECT * FROM goods;
    </select>
    <select id="getGoodById" parameterType="int" resultType="com.example.crossafter.goods.bean.Good">
        SELECT * FROM goods WHERE gid=#{gid}
    </select>
    <select id="getSprice" parameterType="int" resultType="double">
        SELECT sprice FROM goods WHERE gid=#{gid}
    </select>
    <insert id="addGood" parameterType="com.example.crossafter.goods.bean.Good" useGeneratedKeys="true" keyProperty="gid" keyColumn="gid">
        insert into goods (gname,fid,gimg,gprice,gsales,gtype,sprice,duration,amount,content,description,status) values (#{gname},#{fid},#{gimg},#{gprice},#{gsales},#{gtype},#{sprice},#{duration},#{amount},#{content},#{description},0);
    </insert>
    <select id="getAmount" parameterType="int" resultType="int">
        SELECT amount FROM goods WHERE gid=#{gid}
    </select>
    <update id="setAmount" parameterType="com.example.crossafter.goods.bean.Good">
        UPDATE goods SET amount=#{amount} WHERE gid=#{gid};
    </update>
    <select id="getGname" parameterType="int" resultType="String">
        SELECT gname FROM goods WHERE gid=#{gid};
    </select>
    <select id="getGprice" resultType="double" parameterType="int">
        SELECT gprice FROM goods WHERE gid=#{gid};
    </select>
    <select id="getDuration" parameterType="int" resultType="int">
        SELECT duration FROM goods WHERE gid=#{gid};
    </select>
    <select id="searchGoods" parameterType="String" resultType="com.example.crossafter.goods.bean.Good">
        SELECT * FROM goods WHERE status=0 AND gname LIKE #{gname};
    </select>
    <select id="getGoodsByFid" parameterType="int" resultType="com.example.crossafter.goods.bean.Good">
        SELECT * from goods WHERE fid=#{fid} AND status=0;
    </select>
    <update id="setSales" parameterType="com.example.crossafter.goods.bean.Good">
        UPDATE goods SET gsales = #{gsales} WHERE gid = #{gid}
    </update>
    <update id="removeGood" parameterType="int">
        update goods SET status = 1 WHERE  gid=#{gid}
    </update>
</mapper>