<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.crossafter.pub.dao.OrderMapper">
    <insert id="addOrder" parameterType="com.example.crossafter.pub.bean.Order">
        insert into order (rid,fid,gid,receiver,phonenumber,address,trans,status,begin_date,poid,amount) values (#{rid},#{fid},#{gid},#{receiver},#{phonenumber},#{address},#{trans},#{status},#{begin_date},#{poid},#{amount});
    </insert>
    <select id="getUnshippedOrder" parameterType="int" resultType="com.example.crossafter.pub.bean.Order">
        SELECT * FROM order WHERE fid=#{fid} AND status=0
    </select>
    <update id="shipOrder" parameterType="com.example.crossafter.pub.bean.Order">
        UPDATE order SET status=1,orderid=#{orderid} WHERE id=#{id}
    </update>
    <update id="confirmOrder" parameterType="int">
        UPDATE order SET status=2 WHERE id=#{id}
    </update>
    <update id="evalOrder" parameterType="int">
        UPDATE order SET status=3 WHERE id=#{id};
    </update>
</mapper>