<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.crossafter.Retailer.dao.PreOrderMapper">
    <insert id="addPreOrder" parameterType="com.example.crossafter.Retailer.bean.PreOrder">
        INSERT INTO preorder (gid,fid,rid,status,duration,amount,ssprice) VALUES (#{gid},#{fid},#{rid},0,#{duration},#{amount},#{ssprice});
    </insert>
    <select id="getApply" parameterType="int" resultType="com.example.crossafter.Retailer.bean.PreOrder">
        SELECT * FROM preorder WHERE fid=#{fid} AND status=0;
    </select>
    <update id="setStatus" parameterType="com.example.crossafter.Retailer.bean.PreOrder">
        UPDATE preorder SET status=#{status} WHERE poid=#{poid}
    </update>
    <select id="getPreOrderByPoid" parameterType="int" resultType="com.example.crossafter.Retailer.bean.PreOrder">
        SELECT * FROM preorder WHERE poid=#{poid};
    </select>
</mapper>