<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.crossafter.recommend.dao.RecommendMapper">
    <resultMap id="BaseResultMap" type="com.example.crossafter.goods.bean.Evaluation" >
        <id column="gid" property="gid" jdbcType="INTEGER" />
        <result column="evaluation" property="evaluation" jdbcType="DOUBLE" />
        <result column="weight" property="weight" jdbcType="DOUBLE" />
        <result column="amount" property="amount" jdbcType="INTEGER" />
    </resultMap>
    <select id="getAll" resultMap="BaseResultMap">
        select * from evaluation
    </select>
    <update id="updateWR" >
        update evaluation set weight=${weight} where gid=${gid};
    </update>
    <select id="getAllEvaluationByUid" resultType="com.example.crossafter.goods.bean.EvalDetail">
        select gid, evaluation from evaldetail where uid=${uid};
    </select>
    <!--
    <select id="getUidByGid" resultType="int">
        select uid from evaldetail where gid=${gid} and evaluation>=${eva};
    </select>
     -->
    <select id="getAllEvaluationByGid" resultType="com.example.crossafter.goods.bean.EvalDetail">
        select uid, evaluation from evaldetail where gid=${gid};
    </select>
    <select id="getUidByGid" resultType="int">
        select uid from evaldetail where gid=${gid};
    </select>
    <select id="getGidByUid" resultType="int">
        select gid from evaldetail where uid=${uid} and evaluation>=${eva};
    </select>

    <select id="getTopEvaluation" resultType="int">
    	select gid from evaluation where weight >= 0 order by weight desc limit 50;
    </select>
    
    <select id="getCountByUid" resultType="int">
    	select count(*) from evaldetail where uid=${uid};
    </select>
    
    <select id="getweightByGid" resultType="int">
    	select weight from evaluation where gid=${gid};
    </select>
    
    <select id="getEvaluation" resultType="int">
    	select evaluation from evaldetail where gid=${gid} and uid=${uid};
    </select>
</mapper>