<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.crossafter.pub.dao.UserMapper">
    <insert id="addUser" parameterType="com.example.crossafter.pub.bean.User">
        INSERT INTO `user` (uname,upsw,rname,idcard,phonenumber,location,wallet,usertype) VALUES (#{uname},#{upsw},#{rname},#{idcard},#{phonenumber},#{location},#{wallet},#{usertype});
    </insert>
    <select id="userLogin" parameterType="com.example.crossafter.pub.bean.User" resultType="com.example.crossafter.pub.bean.User">
        SELECT * FROM `user` WHERE uname=#{uname} AND upsw=#{upsw};
    </select>
    <select id="getWallet" parameterType="String" resultType="double">
        SELECT wallet FROM `user` WHERE uname=#{uname}
    </select>
    <update id="setWallet" parameterType="com.example.crossafter.pub.bean.User">
        UPDATE `user` SET wallet=#{wallet} WHERE uname=#{uname}
    </update>
    <select id="getUnameById" parameterType="int" resultType="String">
        SELECT uname FROM `user` WHERE uid=#{uid};
    </select>
    <select id="getUidByUname" parameterType="String" resultType="int">
        SELECT uid FROM `user` WHERE uname=#{uname}
    </select>
    <select id="getAvatarById" parameterType="int" resultType="String">
        SELECT avatar FROM `user` WHERE uid=#{uid};
    </select>
    <update id="setAvatar" parameterType="com.example.crossafter.pub.bean.User">
        update `user` SET avatar=#{avatar} WHERE uid=#{uid};
    </update>
    <select id="getUserInfo" parameterType="int" resultType="com.example.crossafter.pub.bean.User">
        SELECT uid,uname,rname,phonenumber,location,wallet,avatar from `user` WHERE uid=#{uid}
    </select>
</mapper>